[Desktop Entry]
Encoding=UTF-8
Name=Link to cart.svg
Type=Link
URL=https://github.com/Victorteka/Yummy-Pizza/blob/master/assets/cart.svg
Icon=text-html
