[Desktop Entry]
Encoding=UTF-8
Name=Link to delivery.svg
Type=Link
URL=https://github.com/Victorteka/Yummy-Pizza/blob/master/assets/delivery.svg
Icon=text-html
