[Desktop Entry]
Encoding=UTF-8
Name=Link to eat-enjoy.svg
Type=Link
URL=https://github.com/Victorteka/Yummy-Pizza/blob/master/assets/eat-enjoy.svg
Icon=text-html
