[Desktop Entry]
Encoding=UTF-8
Name=Link to home-bg.jpg
Type=Link
URL=https://github.com/Victorteka/Yummy-Pizza/blob/master/assets/home-bg.jpg
Icon=text-html
