[Desktop Entry]
Encoding=UTF-8
Name=Link to home.jpg
Type=Link
URL=https://github.com/Victorteka/Yummy-Pizza/blob/master/assets/home.jpg
Icon=text-html
