[Desktop Entry]
Encoding=UTF-8
Name=Link to pizza.jpeg
Type=Link
URL=https://github.com/Victorteka/Yummy-Pizza/blob/master/assets/pizza.jpeg
Icon=text-html
