[Desktop Entry]
Encoding=UTF-8
Name=Link to search.png
Type=Link
URL=https://github.com/Victorteka/Yummy-Pizza/blob/master/assets/search.png
Icon=text-html
